<a href="https://colab.research.google.com/github/robiul-islam-rubel/Machine_Learning/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Comment**

In [ ]:
print("Welcome to my python playlist")

Welcome to my python playlist

In [ ]:
print("Welcome")
print("Hello")
"""
print("Hello")
print("testing")
print("Bangladesh")
"""

Welcome
Hello

'\nprint("Hello")\nprint("testing")\nprint("Bangladesh")\n'

**Variable**

In [ ]:
a = 5
b = 4.5
c = "Hello"
print(c)

Hello

In [ ]:
a = "Hello"
b = "World"
print(a+b)

HelloWorld

**Type Casting**

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
a = int(34.2525029)
print(x,y,z,a)
print(type(y))

1 2 3 34
<class 'int'>

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(type(w))

<class 'float'>

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
a = str("45.9013195190")
print(type(a))

<class 'str'>

**String**

In [ ]:
a = "Hello"
print(a)

Hello

In [ ]:
# string  is an array
a = "Hello, World!"
print(a[7])

W

In [ ]:
# using loop
for x in "Bangladesh":
  print(x)

B
a
n
g
l
a
d
e
s
h

In [ ]:
# len of a string
a = "Bangladesh"
print(len(a))

10

In [ ]:
# check present
txt = "The best things in life are free!"
print("hello" in txt)

False

In [ ]:
# slicing string
b = "Bangladesh"
print(b[6:10])

desh

In [ ]:
b = "Bangladesh"
print(b[:5])

Bangl

In [ ]:
b = "Bangladesh"
print(b[6:])

desh

In [ ]:
b = "Bangladesh"
print(b[-5:])

adesh

In [ ]:
#string funcitons
a = "BANGLADESH"
print(a.lower())

bangladesh

In [ ]:
# replace
a = "Bangladesh"
print(a.replace("B", "G"))

Gangladesh

In [ ]:
# split
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [ ]:
# format function
age = 50
print("The numbe is ",age)
txt = "My name is John, {} am years"
print(txt.format(age))

The numbe is  50
My name is John, 50 am years

In [ ]:
# escape characters
#txt = "We are the so-called "Vikings" from the north."
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

**Boolean**

In [ ]:
print(10>9)

True

In [ ]:
print(10<9)

False

In [ ]:
print(9==9)

True

In [ ]:
a = 10
b = 11
if a>b:
  print("a is greater")
else:
  print("b is greater")

b is greater

**Operators**

In [ ]:
print(3+5)

8

In [ ]:
print(4-1)

3

In [ ]:
print(3*4)

12

In [ ]:
print(6/2)

3.0

In [ ]:
print(9//2)

4

In [ ]:
print(4%3)

if(3%2==0):
  print("Even")
else:
  print("Odd")

**List**


*   List items are ordered, changeable, and allow duplicate values.

In [ ]:
myList = ["C","C++","Python","Java"]
# access list item


# change list item
myList[0]="PHP"
#print(myList)
# add list item
"""
myList.append("Dart")
print(myList)
myList.append("JavaScript")
print(myList)
myList.insert(0,"C#")
print(myList)
"""
# remove list item

"""
print(myList)
myList.pop(0)
print(myList)
"""
# loop in list
# for x in range(len(myList)):
#   print(myList[x])
# list sort
print(myList)
myList.sort()
print(myList)

**Tuples**


Tuple items are ordered, unchangeable, and allow duplicate values.

In [ ]:
myTuple = ("C","C++","Java","PHP")
# access
print(myTuple[1])
# change tuple value
temp = list(myTuple)
temp.append("Python")
myTuple = tuple(temp)
print(myTuple)
# loop in tuple
for x in myTuple:
  print(x)
# join tuple
secTuple =("CSS","HTML")
print(myTuple+secTuple)

**Set**

---



1.A set is a collection which is unordered, unchangeable*, and
unindexed.

In [ ]:
mySet = {"C","C++","Java","PHP"}

# access
print("html" in mySet)
# add
mySet.add("CSS")
print(mySet)
# remove
mySet.remove("CSS")
print(mySet)
# loop
for x in myList:
  print(x)
# join
newSet = {1,2}
a = mySet.union(newSet)
print(a)

**Dictionary**

*   A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
mydict = {
  "name": "SRK",
  "country": "India",
  "year": 2024
}
# access item
x = mydict["country"]
# print(x)

# change item
mydict["year"] = 2018
x = mydict["year"]
# print(x)
# add item
mydict["color"] = "red"
#print(mydict)

# remove item
#y= mydict.pop("name")
#print(y)

# loop dictionaries keys(),values()
for x in mydict.values():
  print(x)

SRK
India
2018
red

In [ ]:
a =44
b =10
c = 100
if a>b and a>c:
  print(a)
if b>a and b>c:
  print(b)
else:
  print(c)

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
i = 1
while i<=5:
  if(i==2):
    print("This is two")
  else:
    print(i)
  i+=1

In [ ]:
def one_to_n(n):
  for i in range(1,n+1):
    print(i)

def sum(a,b):
  print(a+b)
sum(10,20)
print("-----------------------------")
one_to_n(5)

In [ ]:
x = float(input("Enter your number"))
print(type(x))

Enter your number89.45
<class 'float'>